.counter {
    display: flex;
    gap: 10px;
    &__btn {
        height: 76px;
        width: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        font-size: 32px;
        line-height: normal;
        color: #a9d4ba;
        flex-shrink: 0;
        @media screen and (max-width: 1260px) {
            height: 60px;
            width: 60px;
        }
    }
    & input {
        width: 100%;
        display: block;
        font-size: 24px;
        border: 1px solid #a9d4ba;
        border-radius: 3px;
        text-align: center;
    }
}
