.footer {
    &__subscribe {
        position: relative;

        &.input-error {
            & input {
                border-color: #eb0c0c;
            }
            & .footer__subscribe-btn {
                background: #eb0c0c;
                color: #fff;
            }
        }
        &-btn {
            padding: 0 21px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            transition: var(--transition);
            background: #a3f3be;
            text-transform: uppercase;
            font-size: 20px;
            color: #224f34;
            line-height: normal;
        }
        & input {
            display: block;
            width: 100%;
            height: 57px;
            padding: 0 140px 0 25px;
            border-radius: 3px;
            border: 1px solid #a3f3be;
            color: #fff;
            background: transparent;
            font-size: 20px;
            transition: var(--transition);
            &::placeholder {
                color: #fff;
            }
        }
    }
}
