.footer {
    margin-top: 120px;
    padding: 80px 0;
    background: #224f34;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    @media screen and (max-width: 1260px) {
        margin-top: 60px;
        padding: 40px 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        @media screen and (max-width: 580px) {
            align-items: stretch;
            text-align: left;
        }
    }
    &__logo {
        width: 94px;
        flex-shrink: 0;
        display: flex;
        margin: 0 0 44px 0;
        @media screen and (max-width: 1024px) {
            width: 72px;
            margin: 0 0 30px 0;
        }
    }
    &__menu {
        font-size: 20px;
        line-height: normal;
        &-item {
            margin: 0 0 15px 0;
        }
        &-link {
            color: #c2efd4;
            transition: var(--transition);
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__social {
        &-head {
            margin: 0 0 24px 0;
        }
        &-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 35px;
        }
        &-item {
            display: flex;
            transition: var(--transition);
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__col {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        @media screen and (max-width: 580px) {
            align-items: stretch;
            text-align: left;
        }
    }
    &__box {
        display: flex;
        gap: 120px;
        justify-content: space-between;
        @media screen and (max-width: 1440px) {
            gap: 60px;
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 30px;
            align-items: center;
            text-align: center;
        }
        @media screen and (max-width: 580px) {
            align-items: stretch;
            text-align: left;
        }
        &-item {
            &.has-subscribe {
                width: 487px;
                flex-shrink: 0;
                @media screen and (max-width: 1440px) {
                    width: 360px;
                }
                @media screen and (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
        &-head {
            text-transform: uppercase;
            font-size: 22px;
            margin: 0 0 25px 0;
        }
    }
}
